$colorbg: linear-gradient(to bottom, #fcc9c9 ,#ffd9d9, #FFF6D3);
$colorTitulos: #cc7879;
$estiloH1: "pacifico", cursive, bold;
$letraContenido: italic;
$estiloContenido: bold;
$tFuentes:(
    h1: 5rem, 
    h2: 2.5rem,
    h3: 1.25rem,
    p: 1rem,

);

$h1Size:map-get( $tFuentes, h1 );
$h2Size:map-get($tFuentes , h2 );
$subtSize:map-get($tFuentes , h3 );
$contenidoSize:map-get($tFuentes, p );


@mixin FuenteSubtitulo($fontSize) {
    font-family: monospace ;
    font-weight: bold ;
    color: $colorTitulos;
    font-size: $fontSize;
    
}


body{
    margin: 0px;
    padding: 0px;
}

h1{
    font-family: $estiloH1 ;
    font-weight: $estiloH1;
    font-size: $h1Size;
    color: $colorTitulos;
    text-align: center;
}

h2{
    @include FuenteSubtitulo($h2Size);
    text-align: center;
}

h3, h4{
    @include FuenteSubtitulo($subtSize);
    text-align: center;
	padding-left: 30px;
}

p {
    font-size: $contenidoSize;
    font-style: $letraContenido;
	font-weight: $estiloContenido;
	text-align: center;
}

.grid{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-areas: "grid__barra"
						 "grid__imgLogo" 
						 "grid__nombreLogo"
						 "grid__contenido"
						 "grid__sidebar1"
                         "grid__footer";

    background-image: $colorbg;
}

.grid .grid__imgLogo{
    grid-area: grid__imgLogo;
    margin-left: 22%;
    margin-top: -20px;
    	
}

.grid .grid__nombreLogo{
    grid-area: grid__nombreLogo;
    justify-items: center;
	margin-top: -130px;
    margin-bottom: 120px;
	
}

.grid .grid__barra{
    grid-area: grid__barra;
    
    
    
	
}

.grid .grid__sidebar1{
    grid-area: grid__sidebar1;
	display:flex;
	flex-direction: row;
	padding-left: 80px;
    margin-left: -70px;
	padding-top: 30px;
	position: sticky;
	top: 10px;
	 
}

.grid .grid__contenido{
    grid-area: grid__contenido;
    align-items: center;
	margin-top: -120px;
	

}

#error404{

    div{
            background-image: linear-gradient(to bottom, rgb(255, 255, 255) ,#ffd9d9, #FFF6D3);
    }
    h1{
        font-size: 80px;
        margin-left: -80px;
    }
    h2, h3, p{
        margin-left: -160px;
        margin-top: 20px;
    }
    img{
        width: 500px;
        margin-top: 400px;
        margin-left: 30px;
    }
}

.grid .grid__footer{
    grid-area: grid__footer;

    
}

.logo{
	width: 200px;
	animation-name: efectoLogo;
	animation-iteration-count: initial;
	animation-timing-function: ease-in;
	animation-duration: 4s;
	
}

@keyframes efectoLogo{
	0%{transform: rotate(0deg);}
	12%{transform: rotate(0deg);}
	20%{transform: rotate(5deg);}
	25%{transform: rotate(10deg);}
	50%{transform: rotate(0deg);}
	75%{transform: rotate(10deg);}
	100%{transform: rotate(0deg);}
	
}

nav{
    
    ul{
        margin: 0;
        padding: 0;
        display: flex;

        li{
            list-style: none;

            a{
                display: block;
                margin: 10px 0;
                padding: 10px 10px;
                text-decoration: none;
                color: indianred;
                
            }
                a.active{
                    background: black;
                    color: #fff;
                    
                    a:hover{
                        background: black;
                        color: #fff;
                        transition: 0.3s;
                    }
               
               
                }        

            }
            
            :hover{
                
            
                .subMenu{
                display: block;
                padding-left: 4px;
                
                
                }


    
            }  


        }
        
            
     }

     .subMenu{
        position: absolute;
        
        display: none;
        margin-top: -20px;

    
        li{
            
    
    
            a{
                display: block;
                color: black;
                text-decoration: none;
               
                
                
                
    
                
            }
                
       
        }
    }
    

.clearFix{
    clear: both;

}

@media (max-width: 320px){

    

nav{
    float: right;

    ul{
        margin: 0;
        padding: 0;
        display: flex;

        li{
            list-style: none;

            a{
                display: block;
                margin: 10px 0;
                padding: 10px 10px;
                text-decoration: none;
                color: indianred;
            }
                a.active{
                    background: indianred;
                    color: #fff;
                    }

                    a:hover{
                        background: indianred;
                        color: #fff;
                        transition: 0.3s;
                    }


            }
            :hover{
                
            
                .subMenu{
                display: block;
                
                
                
                
                }
    
            }

        }
        
    
            

            
     }

     .subMenu{
        position: absolute;
        display: none;
        padding-top: 25px;
        padding-left: 10px;
        
        

        
       
        
    
        li{
            
    
    
            a{
                display: block;
                color: rgb(136, 136, 136);
                text-decoration: none;
               
                
            }
                
       
        }
    }
    
.clearFix{
    clear: both;

}


.menu-toggle{
    display: block;
    width: 40px;
    height: 40px;
    margin-left: 140px;
    padding-top: 5px;
   
    float:left;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: rgb(136, 136, 136);

    
        
    }

    .menu-toggle:before{
        content: "\f0c9";
        font-family: fontAwesome;
        line-height: 40px;
        position: absolute;

    }

    .menu-toggle.active:before{
        content: "\f00d";
        
        

    }

    nav{
        display: none;
        

    }

    nav.active{
        display: block;
        width: 100%;

        ul{
            display: block;
            position: relative;

            li{
                a{
                margin: 0;
            }
            }

        }

    }

    .subMenu{
        display: none;

        ul{
            display: block;
            
            
            li{
                
                a{
                    margin: 0;
                }
            }
        }
    }

    

.subMenu.active{

    display: none;
    width: 100%;

    ul{
        display: block;

        li{
            a{
            margin: 0;
        }
        }

    }

}



h1{
    font-size: 2.5rem;
    margin-bottom: 80px;
    
}
h2{
    font-size: 2.3rem;
}

}





    ol{
    margin-left: -70px;
    ul{
        color:#64b7ff;
        font-weight:bold; 
        list-style-position: inside;
        list-style-image: url("https://img.icons8.com/pastel-glyph/15/000000/dog-footprint.png");

        li{
	        list-style-type: decimal;
	        color:#64b7ff;
	        font-weight:bold; 
	        list-style-position: inside;
             
        }
    }
}


.redes{
	width: 70%;
	max-width: 70px;
    padding-left: -20px ;
	
}

.ig{
	width:90%;
	max-width: 120px;
	margin-right: -20px;
	
}

.imgYVid{
	width: 85%;
	max-width: 600px;
	margin-left: 12%;

}

.imgFoot{
	max-width: 120px;
    

}



footer{
	color: #cc7879;
	background-color: black;
	text-align: center;
	margin-top:10px;

}

.pie{
    font-style:italic;
	font-weight:bold;
	text-align: center;
	padding-bottom: 20px;
	
}

.grid__contenido--sitemap{
    margin-left: 200px;
    h2{
        margin-left: -320px;
        margin-bottom: 50px;
    }
}

.grid__contenido--nosotros{
    padding-top: 60px;
    margin-bottom: 60px;
    margin-left: 35px;
    width: 75%;
    .imgFoot{
        margin-left: 27%;
        
    }
    h3{
        margin-left: -15px;
        margin-top: 30px;
    }
    
    
}



.grid__contenido--adoptar{
    padding-top: 60px;
    margin-bottom: 60px;
    margin-left: 15px;
    
}

.grid__contenido--donar{
    padding-top: 60px;
    margin-bottom: 60px;

    img{
        width: 250px;
        margin-left: 40px;
       
    }

    ol  {
        padding-left: 110px;
        padding-right: 10px;
       
    }

    ul{
        li{
            margin-left: 0px;
        }
    }

    h3{
        margin-left: -20px;
    }
    
}

.grid__contenido--novedades{
    padding-top: 120px;
    margin-bottom: 60px;
    

    img, iframe{
        margin-left: 10%;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 80%;
    }
    video{
        margin-left: 10%;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 80%;
        max-width: 300px;

    }
    img{
        max-width: 640px;
    }
}

.grid__contenido--fpde{
    padding-top: 130px;
    margin-bottom: 60px;

    section, div{
        text-align: center;
    }
}
         



    
    @media screen and (min-width: 321px) and (max-width:969px){
        .grid{
            display:grid;
            width: 100%;
            grid-template-columns: 1ft;
            grid-template-areas: "grid__barra"
                                 "grid__imgLogo"
                                 "grid__nombreLogo"
                                 "grid__contenido"
                                 "grid__sidebar1"
                                 "grid__footer";                          
        
        }
    
        .grid .grid__imgLogo{
            grid-area: grid__imgLogo;
            margin-left: 38%;
            
            padding-top: 28px;
            
            
            
            
        }
        
        .grid .grid__nombreLogo{
            grid-area: grid__nombreLogo;
            justify-items: center;
            padding-top: 30px;
            padding-left: 60px;
            padding-right: -0px;
                
        
        }
        
        .grid .grid__barra{
            grid-area: grid__barra;
           
        }
        
        .grid .grid__sidebar1{
            grid-area: grid__sidebar1;
            display:flex;
            flex-direction: row;
            padding-left: 38%;
            padding-top: 5px;
            position: sticky;
            top: 10px;

            }
        
        .grid .grid__contenido{
            grid-area: grid__contenido;
            align-items: center;
            margin-left: 12%;
            margin-right: 12%;
        
        }
    
    
        h1{
            margin-left: -60px;
        }
        
        nav{
            float: right;
        
            ul{
                margin: 0;
                padding: 0;
                display: flex;
        
                
        
                li{
                    list-style: none;
        
                   
        
                    a{
                        display: block;
                        margin: 10px 0;
                        padding: 10px 10px;
                        text-decoration: none;
                        color: indianred;
                    }
                        a.active{
                            background: indianred;
                            color: #fff;
                            }
        
                            a:hover{
                                background: indianred;
                                color: #fff;
                                transition: 0.3s;
                            }
                    
                    
        
                    }
                    :hover{
                        
                    
                        .subMenu{
                        display: block;
                        padding-left: 4px;
                        
                        
                        }
            
                    }
        
                }
                
            
                    
        
                    
             }
        
             .subMenu{
                position: absolute;
                display: none;
                padding-top: 25px;
                
        
                
               
                
            
                li{
                    
            
            
                    a{
                        display: block;
                        color: rgb(136, 136, 136);
                        text-decoration: none;
                       
                        
                        
                        
            
                        
                    }
                        
               
                }
            }
            
        
            
        
        .clearFix{
            clear: both;
        
        }
        
        .menu-toggle{
            display: block;
            width: 40px;
            height: 40px;
            margin-right: 45%;
            margin-left: 45%;
            padding-top: 5px;
           
            float:none;
            cursor: pointer;
            text-align: center;
            font-size: 30px;
            color: rgb(136, 136, 136);
        
            
                
            }
        
            .menu-toggle:before{
                content: "\f0c9";
                font-family: fontAwesome;
                line-height: 40px;
                position: absolute;
        
            }
        
            .menu-toggle.active:before{
                content: "\f00d";
                
                
        
            }
        
            nav{
                display: none;
                
        
            }
        
            nav.active{
                display: block;
                width: 100%;
        
                ul{
                    display: block;
                    position: relative;
        
                    li{
                        a{
                        margin: 0;
                    }
                    }
        
                }
        
            }
        
            .subMenu{
                display: none;
        
                ul{
                    display: block;
                    
                    
                    li{
                        
                        a{
                            margin: 0;
                        }
                    }
                }
            }
        
            
        
        .subMenu.active{
        
            display: none;
            width: 100%;
        
            ul{
                display: block;
        
                li{
                    a{
                    margin: 0;
                }
                }
        
            }
        
        }
        .grid__contenido--nosotros{
        .imgFoot{
          margin-left: 40%;
        }
        }

        .grid__contenido--donar{
            padding-top: 60px;
            margin-bottom: 60px;
        
            img{
                width: 250px;
                margin-left: 30%;
               
            }
        
            ul{
                li{
                    margin-left: 35%;
                }
            }

            ol{
                li{
                    margin-left: 5%;
                }
            }
        
            
            
        }

        .grid__contenido--novedades{
            video{
                margin-left: 25%;
               
        
            }
        }
        
        }
        
        
        
    

    


@media screen and (min-width: 970px){
	.grid{
		display:grid;
		width: 100%;
		grid-template-columns: 2ft;
		grid-template-areas: "grid__imgLogo grid__imgLogo"
                             "grid__nombreLogo grid__nombreLogo"
							 "grid__barra grid__barra"
                             "grid__barra grid__barra"
                             "grid__sidebar1 grid__sidebar1" 
							 "grid__contenido grid__contenido"
							 "grid__footer grid__footer";                          
	
	}

	.grid .grid__imgLogo{
		grid-area: grid__imgLogo;
		margin-left: -15px;
		margin-top: -50px;
        margin-right: 150px;
		
		
		
	}
	
	.grid .grid__nombreLogo{
		grid-area: grid__nombreLogo;
		margin-top: -340px;
        margin-left: 15%;
        
        	
	
	}

	h1{ 
		font-size: 7rem;
		
			
	}

	
	
	.grid .grid__barra{
		grid-area: grid__barra;
		margin-top:-170px;
        margin-left: 17%;
        margin-right: 17px;
        padding-bottom: 70px;
        
		
		
	}
	
	.grid .grid__sidebar1{
		grid-area: grid__sidebar1;
		display: flex;
		flex-flow: column wrap;
		margin-top: -70px;
		position: sticky;
		top: 30px;
        margin-left: 15px;
        
		
		
		
		}
	
	.grid .grid__contenido{
		grid-area: grid__contenido;
		align-items: center;
		margin-left: 300px;
		margin-top: -440px;
        padding-left: 20px;
        padding-right: 200px;
		
	
	}	


	nav{
        
       
    
        ul{
            margin: 0;
            padding: 0;
            display: flex;
    
            
    
            li{
                list-style: none;
                padding-left: 5px;
                
            
               
    
                a{
                    display: block;
                    margin: 10px 0;
                    padding: 10px 10px;
                    text-decoration: none;
                    color: rgb(136, 136, 136);
        
                } 
                
                a.active{
                    background: #cc7879;
                    color: #fff;
                    }

                    a:hover{
                        background: #cc7879;
                        color: #fff;
                        transition: 0.3s;
                    }
                
            }

                    
                        
                :hover{
                    
                
                .subMenu{
                display: block;
                margin-left: -12px;
                padding-top: 13px;
                
                            
                        
                            
                            
                            }
                    }     
                
    
                
                
    
            }
            
                
         }
    
         .subMenu{
            position: absolute;
            display: none;
                 
        
            li{
                
        
        
                a{
                    display: block;
                    color: rgb(136, 136, 136);
                    text-decoration: none;
                }
            }
            
        }


	.ig{
		width:90%;
		max-width: 120px;
 		margin-left: -20px;
		
	}

	.imgYVid{
		width: 85%;
		max-width: 600px;
		margin-left: -2%;
	}

    .grid__contenido--nosotros{
        .imgFoot{
          margin-left: 40%;
        }
        }

        .grid__contenido--donar{
            padding-top: 60px;
            margin-bottom: 60px;
        
            img{
                width: 250px;
                margin-left: 35%;
               
            }
        
            ul{
                li{
                    margin-left: 50%;
                }
            }

            ol{
                li{
                    margin-left: 35%;
                }
            }

            .lista{
                margin-left: -55%;
            }
        
            
            
        }

        .grid__contenido--novedades{
            
            video{
                margin-left: 34%;
                padding-top: 20px;
                padding-bottom: 20px;
                width: 80%;
                max-width: 300px;
        
            }
        }

               
        

    .logo{
        width: 300px;
    }

    .boton{
        color: #cc7879 ;
        border-style: solid;
        border-right: solid 3px;
        border-left: none;
        border-top: none;
        border-bottom: none;
        padding-right: 5px;
        padding-left: 5px;
        
    }
    
    .boton1{
        color: #cc7879 ;
        border-style: solid;
        border-right: none;
        border-left: 3px solid;
        border-top: none;
        border-bottom: none;
            
    }
    
    .boton2{
        color: #cc7879 ;
        border-style: solid;
        border-right: 3px solid;
        border-left: 3px solid;
        border-top: 3px solid;
        border-bottom: 3px solid;
        padding: 3px;
        text-decoration: none;
        margin-left: 0px;
        
    }
}

